.container{
    width: 100%;
    max-width: 1400px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    font-size: 20px;
    margin-left: 40px;
    font-weight: bold;
    color: #3d37f1;
}
ul{
    display: flex;
}



main{
    width: 1400px;
    height: 1250px;
    margin: 0 auto;
}
.one{
    width: 1400px;
    height: 550px;
    display: flex;
}
div.one-left, div.one-right{
    width: 700px;
    height: 400px;
}
.p-one{
    font-size: 22px;
    color: #534d4d;
    margin-top: 20px;
}
.blue-button{
    width: 260px;
    height: 76px;
    background-color: #3d37f1;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border-radius: 38px;
}
.button-text{
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}




.two{
    width: 1400;
    height: 100%;
}
.main-two{
    width: 650px;
    height: 240px;
    margin: 0 auto;
    text-align: center;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: #3d37f1;
    padding-top: 20px;
}
.main-title{
    font-size: 40px;
    color: #5a5454;
    padding-top: 20px;
}
.main-text{
    color: #747474;
    font-size: 18px;
    padding-top: 20px;
}


.two-box{
    width: 1180px;
    height: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.box-1, .box-2, .box-3, 
.box-4, .box-5, .box-6{
    width: 370px;
    height: 450px;
    margin: 10px;
    color: #ffffff;
    text-align: center;
}
.box-1{
    background-color: #fbba77;
}
.box-2{
    background-color: #41eae3;
}
.box-3{
    background-color: #69529f;
}
.box-4{
    background-color: #4386d2;
}
.box-5{
    background-color: #a5a2f6;
}
.box-6{
    background-color: #ff8088;
}

.box-button{
    width: 130px;
    height: 46px;
    background-color: #ffffff;
    color: #4b647e;
    border-radius: 23px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 40px;
}
.box-img{
    margin-top: 50px;
}
.box-title{
    font-size: 22px;
    color: #ffffff;
    margin-top: 50px;
}
.box-text{
    margin-top: 30px;
}

